/* Global */
html {
	background-image: url("../images/city.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 40%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

/* Type Stylings */
h1, h2, h3,
h4, h5, h6 {
	font-family:"Din Display Cyrillic Bold", Verdan, sans-serif; 
	font-weight:bold; 
	font-style:normal;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
}

h1 {
	font-size: 10em;
	margin-bottom: 70px;
	padding-top: 50px;
}

h2 {
	font-size: 4em;
}

p {
	font-family: "Lora" Georgia, times, serif;
	line-height: 1.500em;
	font-size: 1.500em;
	color: #fbfafa;
}

/* Navigation */
nav {
	margin: 20px;
	position: fixed;
}

nav li {
	list-style: none;
	font-family: Georgia, times, serif;
	font-size: .675em;
	padding: 5px 5px;
	font-family: "Lora" Georgia, times, serif;
	letter-spacing: 1px;
}

/* Links */
a:link 		{color: rgba(255,255,255,0.6); font-weight: bold; text-decoration: none;}
a:active 	{color: rgba(255,255,255,0.6); font-weight: bold; text-decoration: none;}
a:hover		{color: rgba(255,255,255,1); font-weight: bold; text-decoration: none;}
a:visited	{color: rgba(255,255,255,0.6); font-weight: bold; text-decoration: none;}

/* General */
.wrapper {
	max-width: 1024px;
	margin: auto;
}

.slide {
	max-width: 100%;
	max-height: 100%;
	padding: 200px 0;
	margin: auto;
}

.contents {
	max-width: 700px;
	width: 90%;
	text-align: center;
	margin: auto;
	line-height: 1.500em;
}

.contents li {
	list-style: none;
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

/* Services Slide */
.services li {
	height: 150px;
	width: 150px;
	margin: 20px 20px 50px 20px;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.7);
	color: rgba(255,255,255,0.7);
}

.services li i {
	font-size: 75px;
		line-height: 150px;
}

/* Clients Slide */
.row li{
	padding: 15px;
}

/* Contact Slide */
.social li {
	padding-top: 15px;
	font-size: 2.250em;
}

/* Footer */
footer p {
	font-size: .500em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,0.5);
}


/*=================*\ 
		Mobile 
\*=================*/
@media only screen and (max-width: 480px) {

/* Type Stylings */
h1 {
	font-size: 5em;
	padding-top: 50px;
}

h2 {
	font-size: 3em;
	line-height: 1.500em;
}

p {
	font-family: "Lora" Georgia, times, serif;
	line-height: 1.500em;
	font-size: 1em;
	color: #fbfafa;
}

/* Navigation */
nav {
	width: 100%;
	margin: 10px auto;
	list-style: none;
	text-align: center;
	position: relative;
}

nav li{
	display: inline-block;
}

/* Services Slide */
.services li {
	height: 150px;
	width: 150px;
	margin: 20px 20px 50px 20px;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.7);
	color: rgba(255,255,255,0.7);
}

.services li i {
	font-size: 75px;
	line-height: 150px;
}


}
